/* Global */
html{

}

body{
  background-color: rgb(236, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1920px;
  margin: auto;
  height: 100vh;
  color: black;
  }

  h3{
    text-align: center;
    font-size: 2em;
  }
  h4{
    font-size: 1.5em;
  }

  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: brown;
  }
  a:active{
    color:brown;
  }

  #current { /* highlights current page */
    color: brown;
  }
  
  /* HEADER */
  header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  header h1{
  font-size: 4em;
  color: rgb(0, 0, 0);
  }
  header h1 a{
    text-decoration: none;
    color: black;
  }
  header h1 a:link {
    color: black;
  }
  header h1 a:visited{
    color: black;
  }
  header h1 a:hover {
    color:black;
  }
  header h1 a:active{
    color: black;
  }
  header h1 a:focus {
    color:black;
  }

  /* NAV */
  nav li{
    display: inline-block;
    list-style: none;
    padding-right: 50px;
  }
  nav a{
    font-size: 1.5em;
    color: black;
  }
  nav a:link {
    color: black;
    text-decoration: none;
  }
  nav a:visited {
    color: black;
  }
  nav a:hover {
    color: brown;
    text-decoration: underline;
    text-decoration: solid;
  }
  nav a:active {
    color: brown;
  }

  /* INDEX PAGE HERO IMAGE */
  .hero{
    position: relative;
    margin-bottom: 8%;
    background-color: brown;
  }

  .hero img{
    width:80%;
  }

  .caption{
    text-align: left;
    position: absolute;
    top: 85%; 
    left: 20%; 
    transform: translate(-50%, -50%);
  }

  .caption h2{
    font-size: 2.5vw;
    padding: 0;
    margin:0;
    color: rgb(255, 255, 255);
  }
  .caption p{
    font-size: 1.6vw;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    text-align: left;
  }

  .button{
    padding: 20px;
    background-color: rgb(165, 42, 42, 0.5);
    font-size: 1.5vw;
    color: white;
    text-align: center;
    width:min-content;
    border: 1px solid white;
  }
  .button {
    color: white;
    text-decoration: none;
  }
  .button:hover{
  box-shadow: 4px 4px 4px 4px rgb(46, 6, 6);
  background-color: rgba(165, 42, 42, 0.87);
  }

  
  /* MAIN */
  main{
    vertical-align: middle;
    flex: 1;
  }



/* ABOUT ME PAGE*/
.aboutMe{
  background-color:aliceblue;
}
.aboutMe img{
  float:  left;
  padding-right: 30px;
  padding-left: 2%;
}
.aboutMe h3{
  font-size: 1.5em;
  text-align: center;
  padding-top: 2%;
}

.aboutMe p{
  text-align: left;
  width: 85%;
  font-size: 1em;
  color: black;
}

/* GALLERY */
.gallery{
  margin: 30px auto 50px;
  width: 80%;
}
.gallery img{
  cursor: pointer;
}
.galleryid{

}
.painting_info{
}

.single img{
width: 100%;
height: auto;
margin-top: 30px;
margin-bottom: 30px;
}
.single_square img{
width: 80%;
margin-left: 10%;
height: auto;
margin-bottom: 30px;
margin-top: 30px;
}

.main_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 30px;
  
}
.main_grid img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* grid areas defined for specific images */
.threeInRow {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.threeInRow img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.double_tall {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom:0;
  padding-bottom: 0;
  align-items: center;
}
.double_tall img{
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.pages{
display: flex;
justify-content: center;
}

.pages ul{
padding-left: 0;
}
.pages li{
display: inline;
list-style: none;
font-size: 2vw;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 2%;
  font-size: 0.5em;
}