/* Global */
html{

}
.hide_desktop{
  display:none
}

body{
  background-color: rgb(68, 68, 68);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  color: rgb(255, 255, 255);
  }

  h3{
    text-align: center;
    font-size: 1.5em;
  }
  h4{
    font-size: 1.5em;
  }

  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  a:hover{
    color: rgb(0, 0, 0);
  }
  a:active{
    color:rgb(0, 0, 0);
  }

  #current { /* highlights current page */
    color: rgb(0, 0, 0);
  }
  
  /* HEADER */
  header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  }
  .header_text{
  justify-content: center;
  }
  header h1{
  font-size: 2.7em;
  color: rgb(255, 255, 255);
  }
  header h1 a{
    text-decoration: none;
    color: black;
  }
  header h1 a:link {
    color: black;
  }
  header h1 a:visited{
    color: black;
  }
  header h1 a:hover {
    color:black;
  }
  header h1 a:active{
    color: black;
  }
  header h1 a:focus {
    color:black;
  }

  /* NAV */
  nav{
    flex: 1;
    width:fit-content;

  }
  nav ul{
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
  }
  nav li{
    display: inline-block;
    list-style: none;
  }
  nav a{
    font-size: 1em;
    color: rgb(255, 255, 255);
  }
  nav a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  nav a:visited {
    color: rgb(255, 255, 255);
  }
  nav a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration: solid;
  }
  nav a:active {
    color: rgb(0, 0, 0);
  }

       /* Social links nav */
  header div{
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  header div li{
    display: inline-block;
    padding-right: 40px;
  }
  header div ul{
    padding-left: 0;
  }
  header div img:hover{
    transform: scale(1.2)
  }




  /* INDEX PAGE HERO IMAGE */
  .hero{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_mobile {
    display:none;
  }
  .hero img{
    height: 70vh;
    width: auto;
    border-radius: 3px;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.586);
  }

  .caption{
    text-align: left;
    position: absolute;
    top: 84%; 
    left: 25%; 
    transform: translate(-50%, -50%);
  }
  .caption h2{
    font-size: 3vw;
    padding: 0;
    margin:0;
    color: rgb(255, 255, 255);
  }
  .caption p{
    font-size: 2vw;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    text-align: left;
  }

  .mobile_caption{
    display:none;
  }

  .button{
    position: absolute;
    top: 79%;
    padding: 4%;
    background-color: rgba(165, 42, 42, 0.781);
    font-size: 2.5vw;
    color: white;
    text-align: center;
    width:min-content;
    border: 1px solid white;
  }
  .button {
    color: white;
    text-decoration: none;
  }
  .button:hover{
  color:white;
  background-color: rgba(165, 42, 42, 0.925);
  transform: scale(1.05);
  }

  
  /* MAIN */
  main{
    vertical-align: middle;
    flex: 1;
  }


/* GALLERY */
.gallery{
  margin: 30px auto 50px;
  width: 80%;
}
.gallery img{
  cursor: pointer;
}
.galleryid{

}
.painting_info{
}

.main_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 30px;
  
}
.main_grid img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* grid areas defined for specific images */
.single img{
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  }
  .single_square img{
  width: 80%;
  margin-left: 10%;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  }
.threeInRow {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.threeInRow img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.double_tall {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-bottom: 30px;
}
.double_tall img{
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.pages{
display: flex;
justify-content: center;
}
.pages ul{
padding-left: 0;
}
.pages li{
display: inline;
list-style: none;
font-size: 1em;
}
.back{
  margin-left:10%;
}



/* CV PAGE */
.wrapperCV {
  margin-left: 15%;
  margin-top: 5%;
  max-width: 1920px;
}
.wrapperCV ul{
  list-style-type: none;
  line-height: 2em;
  text-align: left;
}
.wrapperCV h4{
  margin-bottom: 0;
}



/* CONTACT PAGE */
.wrapper_contact{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper_contact_img{
  flex:1;
}
.wrapper_contact_img img{
  width: 100%;
  border-radius: 3px;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.502);
}
.wraper_contact a{
vertical-align: middle;
}
blockquote{
  text-align: left;
  position: absolute;
  top: 82%; 
  left: 10%; 
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 1.1vw;
}
.wrapper_contact_about{
  margin-top: 3%;
  flex:1;
}
.wrapper_contact_about p{
  width: 100%;
  padding-left: 6%;
  text-align: left;
  padding-bottom: 4%;
  font-size: 1.5em;
}
.wrapper_contact_about h3{
  margin-top: 0;
}
.wrapper_contact_about ul{
    list-style-type: none;
    line-height: 2em;
    text-align: left;
}
.wrapper_contact_about h3{
  margin-bottom: 0;
  margin-top: 2%;
  text-align: left;
  margin-left: 8%;
  font-size: 1.1em;
  font-weight: lighter;
}
.wrapper_contact_about a:hover{
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.788);
  color: white;
}
.wrapper_contact_about img{
  width:16px;
}
.wrapper_contact_about img:hover{
  transform: scale(1.2);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 2%;
  font-size: 0.8em;
}



/* MEDIA QUERIES FOR DIFFERERNT SCREEN SIZES*/
/*LARGE*/
@media only screen and (min-width: 1920px) {
html{
  width: 80%;
  margin: auto;
}
.mobile_body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
}
/* Index Page */
.hero{
  display: flex;
  justify-content: center;
}
.hero img{
  height: 70vh;
  width: auto;
  margin-left: 0;
  border-radius: 3px;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.586);
}
.caption{
  top: 80%; 
  left: 34%; 
}
.caption h2{
  font-size: 1.8vw;
}
.caption p{
  font-size: 1vw;
}
.button{
  top: 85%;
  padding: 3%;
  background-color: rgba(165, 42, 42, 0.712);
  font-size: 1.3vw;
  color: white;
  text-align: center;
  width:min-content;
  border: 1px solid white;
}
.button {
  color: white;
  text-decoration: none;
}
.button:hover{
color:white;
background-color: rgba(165, 42, 42, 0.925);
transform: scale(1.05);
}
/* Gallery */
.single_square{
  width: 80%;
  margin: auto;
}
.back {
  margin-left: 20%;
  padding-bottom: 0;
}
}



/* MEDIUM */
@media only screen and (min-width: 992px) and (max-width: 1919px){
html{
  width: 100vw;
  margin: auto;
}
body{
  width: 100vw;
  margin: auto;
  height: 100vh;
  color: rgb(255, 255, 255);
}
.hero{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.hero_mobile {
  display:none;
}
.hero img{
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3px;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.586);
}
.button{
  font-size: 1.5vw;
  margin-top: 10px;
}

/*Gallery*/
.single_square{
  width: 80%;
  margin: auto;
}
}

  /*SMALL*/
@media only screen and (min-width: 220px) and (max-width: 991px) {
  /* General */
  body{
    width: 100vw;
  }
  .hide{
    display: none;
  }
  .hide_desktop{
    display: contents;
  }

  /* Header*/
  header{
    width: 100%;
  }
  header h1{
    font-size: 1.7em;
    text-align: center;
  }

  /* NAV */
  nav{
    position: absolute;
    top: 0;
    right: 6%;
    z-index: 1;
  }
  nav:hover{
    transform: scale(1.1);
  }
  .dropdown img{
    width: 32px;
  }
  nav ul{
    list-style: none;
    padding: 0;
  }
  nav ul li{
    display: inline-block;
    position: relative;
  }
  nav ul li a{
    display: block;
    padding: 10px 20px;
  }
    /* drop down menu*/
.dropdown_menu{
  display: none;
  position:absolute;
  top: 100%;
  right:6%;
  background-color: #767676;
  padding: 10px 0;
}
.dropdown_menu li{
  display: block;
}
nav ul li:active .dropdown_menu {
  display:block;
}
nav ul li:hover .dropdown_menu {
  display:block;
}

  /* Index page */
  .mobile_body{
  background-image: url(portrait_1\ -\ mobile.jpg);
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  }
  .wrapper{
    background-color: rgba(0, 0, 0, 0.717);
    height: 100vh;
  }
  .caption{
    text-align: center;
    position: absolute;
    margin-top: 0;
    left: 32% ;
  }
  .mobile_caption{
    display: block;
    position: fixed;
    bottom: 2%;
    margin-left: 5%;
  }
  .mobile_caption p{
    font-size: 5vw;
    padding: 0;
    margin-top: 0;
  }
  .button{
    position: absolute;
    padding: 10px;
    font-size: 6vw;
    color: white;
    text-align: center;
    width:min-content;
    border: 1px solid white;
    background-color: rgba(165, 42, 42, 0.374);
  }
  .button:hover{
    transform: scale(1.1);
  }


  /* Gallery */
  .gallery{
    margin: 10px auto 10px;
    width: 95%;
  }
  .main_grid {
    display: flex;
    flex-direction: column;
  }
  .double_tall {
    display: flex;
    flex-direction: column;
  }
  .double_tall img{
    margin-bottom: 20px;
  }
  .single img{
    width: 100%;
    height: auto;
  }
  .single_square img{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .threeInRow{
    display: flex;
    flex-direction: column;
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }

/*  CV  */
.wrapperCV {
  margin-left: 3%;
  margin-right: 3%;
}
.wrapperCV ul{
  line-height: 2em;
  text-align: left;
  padding-left: 3%;
}
.wrapperCV h4{
  margin-bottom: 0;
  font-size: 1.2em;
  text-align: center;
}

/* INFO PG */
.wrapper_contact{
  flex-direction: column;
}
blockquote{
  display: none;
}
.wrapper_contact p{
  width: 90%;
  margin: auto;
  margin-top: 4%;
}

/* FOOTER */
footer{
  font-size: 1.4vw;
}

}
